{% extends 'base.html' %}
{% block title %}Book a Table - The Salt & Shell
{%endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Book a Table</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg">Book Table</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Maps -->
<div class="map-container mt-5">
    <div class="d-flex justify-content-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10213.406989503645!2d-5.4981322283059475!3d50.210647044755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486ac1883d3d7aed%3A0x90fba57b84271131!2sSt%20Ives!5e0!3m2!1sen!2suk!4v1755169986595!5m2!1sen!2suk"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}